colorlog==6.8.2
datasets==2.19.1
datasketch==1.6.4
einops==0.8.0
fastparquet==2024.5.0
flash_attn==2.5.9.post1
matplotlib==3.8.4
nltk==3.8.1
numpy==2.0.0
pandas==2.2.2
peft==0.11.1
pyarrow==16.0.0
rich==13.7.1
tokenizers==0.19.1
torch==2.3.0
transformers==4.41.2
trl==0.9.4
ujson==5.10.0
vllm==0.5.0.post1
